*{
  font-family: 'Roboto', sans-serif;
}
.itinerary-list {
    margin-top: 5vh;
    margin-bottom: 10vh;
    margin-right: 10vw;
    margin-left: 10vw;
    background-color: rgba(64, 205, 224, 0.59);
    border-color: black;
    border-style: dashed;
    box-shadow: 5px 5px 5px gray;
  }
  
  .header {
    text-align: center;
    margin-top: 5vh;
    font-size: 30px;
  }
  
  .itinerary-item {
    background-color: lightgray;
    margin: 20px;
    border: solid black;
    text-align: center;
  }
  
  .itinerary-item h2 {
    color: #333;
    font-size: 18px;
  }
  
  .itinerary-image {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  
  .itinerary-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .itinerary-button:hover {
    background-color: #0056b3;
  }

  .name{
    margin-top: 1vh;
  }