* {
    font-family: 'Roboto', sans-serif;
}

.mainContent {
    background-color: rgba(64, 205, 224, 0.59);
    margin-top: 5vh;
    margin-bottom: 10vh;
    padding-left: 5vh;
    padding-right: 5vh;
    box-shadow: 5px 5px 10px gray;
    font-family: 'Roboto', sans-serif;
    border-color: black;
    border-style: solid;
}

.mainHeader {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
}

.tagline {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.dragAndDropHolder {
    padding-right: 5vw;
    padding-left: 5vh;
    padding-bottom: 5vh;
}

.prefAndOptions {
    background-color: lightgray;
    margin-bottom: 2vh;
    border-color: black;
    border-style: solid;
}

.option {
    border-color: black;
    background-color: rgba(64, 205, 224, 0.59);
    border-style: dashed;
    margin-bottom: 5vh;
    box-shadow: 5px 5px 10px gray;
    font-family: 'Roboto', sans-serif;
}

#inputField {
    border-color: black;
    border-style: solid;
    justify-content: right;
    margin-bottom: 2vh;
}