.homepage {
  background-color: rgba(64, 205, 224, 0.59);
  margin-top: 10vh;
  margin-bottom: 10vh;
  box-shadow: 5px 5px 5px gray;
  font-family: 'Roboto', sans-serif;
}

.homeSpecificButtons {
  padding-top: 2vh;
  padding-right: 2vh;
}

.homeName{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 400px; 
}

.nextPages {
  padding-top: 3vh;
  margin-bottom: 5vh;
}

.tagline {
  text-align: center;
  font-size: 20px;
}

.home-logo {
  background-image: url('./images/roamify.jpeg');
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 400px; 
  height: 400px; 
  border: none; 
  display: block;
}