.homepage {
  background-color: rgba(64, 205, 224, 0.59);
  margin-top: 10vh;
  margin-bottom: 10vh;
  box-shadow: 5px 5px 5px gray;
  font-family: 'Roboto', sans-serif;
}

.homeSpecificButtons {
  padding-top: 2vh;
  padding-right: 2vh;
}

.homeName{
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

.nextPages {
  padding-top: 3vh;
  margin-bottom: 5vh;
}

.tagline {
  text-align: center;
  font-size: 20px;
}